
.tarjeta {
    width: 280px;
    height: 180px;

    border: 3px solid #1565c0;

    padding: 20px;
    margin: 30px;

    background-color: #e3f2fd;
    font-family: Verdana, sans-serif;
}

.nombre {
    font-weight: 700;
    font-size: 18px;
}

.carrera {
    font-size: 16px;
}

.ciudad {
    font-size: 16px;
    color: #555555;
}